<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head (HOME)">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header" th:include="layout/header::header"/>
    <aside class="main-sidebar" th:include="layout/leftbar::aside">
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                添加用户
                <small>单个</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">添加用户</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-primary">
                <form role="form" id="editForm">
                    <input type="hidden" name="id" id="id" th:attr="value=${user != null} ? ${user.id}: ''">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="username">用户名</label>
                            <input type="text" class="form-control" name="username" id="username" th:attr="value=${user !=null } ? ${user.username} : ''"
                                   placeholder="Enter user name">
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Password" th:attr="value=${user !=null } ? ${user.password} : ''">
                        </div>
                        <div class="form-group">
                            <label for="inventory">库存</label>
                            <input type="number" name="inventory" th:attr="value=${user != null} ? ${user.inventory} : ''" class="form-control"
                                   id="inventory" placeholder="Enter dayCount">
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="roleId">角色</label>-->
                            <!--<select  name="roleId" id="roleId" class="form-control"></select>-->
                        <!--</div>-->
                    </div>
                    <div class="box-footer">
                        <input data-url="/user/edit" class="btn btn-primary" id="submit" type="button" value="Submit"/>
                    </div>
                </form>
            </div>

        </section>
    </div>
    <footer class="main-footer" th:include="layout/footer::footer">
    </footer>
    <aside class="control-sidebar control-sidebar-dark" th:include="layout/rightbar::aside"></aside>
    <div class="control-sidebar-bg"></div>
</div>
<div style="display: none" th:include="layout/foot_script::script"></div>
</body>
<script>
    $(function () {
//        var data = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];
//        $("#roleId").select2({
//            data: data,
//        })
        $("#submit").click(function (e) {
            var target = $(e.target);
            var url = target.attr("data-url");
            var data = $("#editForm").serialize();
            $.ajax({
                url: url,
                type: 'post',
                data: data,
                dataType: 'json',
                success: function (res) {
                    alert(res);
                }

            });
        });
    })
</script>
</html>
